<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.mapper.PlantTelMapper">
    <!-- 仓讲概览 -->
    <select id="findTelView" resultType="common.model.View" parameterType="common.model.Pager">
        SELECT SKIP #{skip} FIRST #{pageSize}
        p.code,p.id,p.in_time as inTime,p.name,p.fid as fid,j.name as jname,p.status,nvl(y.count,0) as count,f.name as
        fname,r.name as pname
        from plant_tel p
        left join (select equipment_code,count(equipment_code)as count from yj_police group by equipment_code) y
        on p.code=y.equipment_code
        inner join plant_factory f on p.fid=f.id
        inner join plant_tel_region r on p.region_id = r.id
        inner join jy j on p.pid = j.id
        <if test="params != null and params != '' ">
            <where>
                <if test="params.code != null and params.code != '' ">
                    substr(r.code,3,2) = #{params.code}
                </if>
                <if test="params.key != null and params.key != '' ">
                    <bind name="pattern" value="'%' + params.key + '%'"/>
                    and p.name like #{pattern} or j.name like #{pattern}
                </if>
            </where>
        </if>
    </select>
    <!-- 所有仓讲数量 -->
    <select id="findAllTelCount" resultType="int" parameterType="common.model.Pager">
        select count(*) from plant_tel p inner join plant_tel_region r on p.region_id = r.id inner join jy j on p.pid =
        j.id
        <if test="params != null and params != '' ">
            <where>
                1 = 1
                <if test="params.status != null and params.status != '' ">
                    and p.status = #{params.status}
                </if>
                <if test="params.code != null and params.code != '' ">
                    and substr(r.code,0,2) = #{params.code}
                </if>
                <if test="params.key != null and params.key != '' ">
                    <bind name="pattern" value="'%' + params.key + '%'"/>
                    and (p.name like #{pattern} or j.name like #{pattern})
                </if>
            </where>
        </if>
    </select>
    <!-- 删除仓讲 -->
    <delete id="delTel" parameterType="int">
        delete from plant_tel where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 插入仓讲 -->
    <insert id="insertTel" parameterType="common.model.PlantTel">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select nvl(max(TO_NUMBER(id)),0)+1 from plant_tel
        </selectKey>
        insert into plant_tel(id,name,code,status,region_id,pid,fid,in_time)
        values(#{id},#{name},#{code},#{status},#{regionId},#{pid},#{fid},#{inTime})
    </insert>
    <!-- 按id查找仓讲信息 -->
    <select id="findTelById" parameterType="int" resultType="common.model.PlantTel">
    	SELECT *,region_id as regionId from plant_tel  where id = #{id}
    </select>
    <!-- 修改仓讲数据 -->
    <update id="updateTel" parameterType="common.model.PlantTel">
    	update plant_tel 
    	set name=#{name},status=#{status},fid=#{fid},pid=#{pid},in_time=#{inTime},code=#{code},region_id=#{regionId} 
    	where id=#{id}
    </update>
</mapper>