<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.mapper.PlantTelRegionMapper">
  	<select id="selectByCode" parameterType="String" resultType="common.model.PlantTelRegion">
  		select * from plant_tel_region where substr(code,3,2) = #{code}
  	</select>
</mapper>