<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.mapper.VSecInBasicMapper">
 			
	<select id="getPrisonInform" parameterType="String" resultType="common.model.VSecInBasic">
		select type,count,status 
		from v_sec_in_basic 
		where substr(code,0,2) = #{code} and type !='05' 
	</select>
	
	
</mapper>